@using EarlyAlertV2.ViewModels.ReportViewModels
@model RiskIndexReportViewModel

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">Students</h4>
                <p class="category">A list of students to calculate risk index for.</p>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-primary">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Risk Index</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var user in Model.Users)
                        {
                        <tr>
                            <td>@user.Id</td>
                            <td>@user.Name</td>
                            <td>
                                @{ 
                                    var userEnrollments = Model.EnrollmentResults.Where(x => x.UserId == user.Id);

                                    double? averageGrade = 0;
                                    //foreach(var enrollment in userEnrollments)
                                    //{
                                    //     averageGrade += enrollment.ComputedFinalScore;
                                    //}

                                    //averageGrade = averageGrade / userEnrollments.Count();
                                }

                                @averageGrade

                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: 40%">
                                    </div>
                                    <div class="progress-bar progress-bar-info" role="progressbar" style="width: 29%">
                                    </div>
                                    <div class="progress-bar progress-bar-warning" role="progressbar" style="width: 20%">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>