@using EarlyAlertV2.ViewModels.ReportViewModels
@model RiskIndexReportViewModel

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header" data-background-color="blue">
                <h4 class="title">Students</h4>
                <p class="category">A list of students to calculate risk index for.</p>
            </div>
            <div class="card-content table-responsive">
                <table class="table">
                    <thead class="text-primary">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Risk Index</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var index in Model.UserRiskIndicies.OrderByDescending(x => x.Value))
                        {
                            var user = Model.Users.First(x => x.Id == index.Key);
                            <tr>
                            <td>@user.Id</td>
                            <td>@user.Name</td>
                            <td>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success" role="progressbar" style="width: @index.Value%">
                                    </div>
                                </div>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>